<%= render "navbar" %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Hello, World!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 card">
			<%= image_tag 'avatar.jpg', alt: 'Yang', class: 'card-img-top img-fluid'%>
			<div class="card-block">
			 <h4 class="card-title">Yang</h4>
			 <p class="card-text">NYC based Ruby on Rails developer</p>
			</div>
    </div>

    <div class="col-md-8 col-md-offset-1">
      <h2>More Coming Soon...</h2>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <p>&copy; by Yang 2016 @NYC</p>
</div>
